/* base.html */

.body{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 5rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{ 
    display: flex;
    justify-content: space-evenly;
    
}

.link{
    width: 32%;
    text-align: center;
}  

/* shared */

.title{
    text-align: center;
}

/* page1.html */

.info{
    display: flex;
    margin: auto;
}
meter{
    /* transform: rotate(-90deg); */
    border-radius: 10px;
}